name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: install deps
      run: npm install 

    - name: Build
      run:  npm run build

    - name: set up CNAME for my domain
      run: echo "learn-webgpu.com" > ./dist/CNAME
      
    - name: Upload Artifact
      uses: actions/upload-pages-artifact@v3
      with: 
        path: "./dist"
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
